// Breakpoints
$size-xs: 459px;
$size-sm: 768px;
// $size-smd: 960px;
$size-md: 1024px;
$size-lg: 1280px;
$size-xl: 1440px;

// Fonts
$font-family: 'Roboto', Arial, sans-serif;
$font-family-roboto: 'Roboto';

// Colors
$turquoise-02: hsl(172, 86%, 46%);

// compose colors
$init-bg-color: $turquoise-02;