.repo-list-item {
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.github_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.repo-list-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.repo-list-item {
  margin-top: 3px;
  border-top: 7px solid #1b66a3;
}

.repo-list-item:nth-child(5n + 1) {
  margin-top: 3px;
  border-top: 7px solid #39a86b;
}

.repo-list-item:nth-child(5n + 2) {
  margin-top: 3px;
  border-top: 7px solid #a83939;
}

.repo-list-item:nth-child(5n + 3) {
  margin-top: 3px;
  border-top: 7px solid #7c39a8;
}

.repo-list-item:nth-child(5n + 4) {
  margin-top: 3px;
  border-top: 7px solid #d17946;
}

.repo-title-name {
  text-decoration: none;
  color: #1b66a3;
  font-size: 20px;
}

.repo-title-name:hover {
  text-decoration: underline;
}

.repo-description {
  font-size: 15px;
  margin: 10px 0;
}

.repo-description-readmore {
  margin-left: 10px;
  text-decoration: none;
  color: #1b66a3;
  font-size: 15px;
}

.repo-description-readmore:hover {
  text-decoration: underline;
}




.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
